Repository Dema/piano-chords-finder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.43bc77bd60f3689fe5874f32fa02b81b.js
  precache-manifest.e506941843874171ba0eb05a7e39e056.js
  service-worker.js
  static/css/main.89c572de.chunk.css
  static/css/main.89c572de.chunk.css.map
  static/css/main.d50bee04.chunk.css
  static/css/main.d50bee04.chunk.css.map
  static/js/2.3d77729f.chunk.js
  static/js/2.3d77729f.chunk.js.map
  static/js/2.d8de70ed.chunk.js
  static/js/2.d8de70ed.chunk.js.LICENSE.txt
  static/js/2.d8de70ed.chunk.js.map
  static/js/main.58f1d1dd.chunk.js
  static/js/main.58f1d1dd.chunk.js.map
  static/js/main.e3a80e3c.chunk.js
  static/js/main.e3a80e3c.chunk.js.map
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.9e6a16452cae0738460b8b2dee7f15ed.js
  precache-manifest.e506941843874171ba0eb05a7e39e056.js
  service-worker.js
  static/css/main.8bccafbd.chunk.css
  static/css/main.8bccafbd.chunk.css.map
  static/css/main.d50bee04.chunk.css
  static/css/main.d50bee04.chunk.css.map
  static/js/2.bb215d3a.chunk.js
  static/js/2.bb215d3a.chunk.js.LICENSE.txt
  static/js/2.bb215d3a.chunk.js.map
  static/js/2.d8de70ed.chunk.js
  static/js/2.d8de70ed.chunk.js.map
  static/js/main.0b7755b6.chunk.js
  static/js/main.0b7755b6.chunk.js.map
  static/js/main.58f1d1dd.chunk.js
  static/js/main.58f1d1dd.chunk.js.map
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Preliminary version without any design
  .env
  .eslintrc.js
  config-overrides.js
  package.json
  src/App.test.tsx
  src/App.tsx
  src/features/chord-finder/molecules/ChordsList/index.module.css
  src/features/chord-finder/molecules/ChordsList/index.tsx
  src/features/chord-finder/molecules/DeviceSelection/index.module.css
  src/features/chord-finder/molecules/DeviceSelection/index.tsx
  src/features/chord-finder/pages/Index.tsx
  src/features/chord-finder/pages/index.module.css
  src/features/core/app/index.module.css
  src/features/core/app/index.test.tsx
  src/features/core/app/index.tsx
  src/index.css
  src/index.tsx
  src/react-router-dom.d.ts
  yarn.lock
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.df8157389f2ac7c8e7d1e2d333ef2ea1.js
  service-worker.js
  static/js/2.153aa29d.chunk.js
  static/js/2.153aa29d.chunk.js.LICENSE.txt
  static/js/2.153aa29d.chunk.js.map
  static/js/2.bb215d3a.chunk.js
  static/js/2.bb215d3a.chunk.js.map
  static/js/main.0b7755b6.chunk.js.map
  static/js/main.366d4b3b.chunk.js
  static/js/main.366d4b3b.chunk.js.map
Due: prettier --write

added link to an app
  README.md
  src/features/chord-finder/pages/index.module.css
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Reverted back to onChange event despite eslint warnings. onBlur doesn't work
  src/features/chord-finder/molecules/DeviceSelection/index.tsx
  src/index.tsx
  src/serviceWorker.ts
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix

Updates
  asset-manifest.json
  index.html
  precache-manifest.379e1d3f8e663fba17eae71a2a8707a9.js
  precache-manifest.df8157389f2ac7c8e7d1e2d333ef2ea1.js
  service-worker.js
  static/css/main.8bccafbd.chunk.css
  static/css/main.8bccafbd.chunk.css.map
  static/css/main.9f5d51b2.chunk.css
  static/css/main.9f5d51b2.chunk.css.map
  static/js/2.153aa29d.chunk.js.map
  static/js/2.d311ad6f.chunk.js
  static/js/2.d311ad6f.chunk.js.LICENSE.txt
  static/js/2.d311ad6f.chunk.js.map
  static/js/main.366d4b3b.chunk.js
  static/js/main.366d4b3b.chunk.js.map
  static/js/main.52bb1da2.chunk.js
  static/js/main.52bb1da2.chunk.js.map
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Some upgrades
  .env
  .eslintrc.js
  config-overrides.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

Updates
  asset-manifest.json
  assets/chord-finder.25bfce5c.js
  assets/chord-finder.25bfce5c.js.br
  assets/chord-finder.25bfce5c.js.gz
  assets/chord-finder.c157ebbb.css
  assets/chord-finder.c157ebbb.css.br
  assets/chord-finder.c157ebbb.css.gz
  assets/index.1e043128.css
  assets/index.7531a290.js
  assets/index.7531a290.js.br
  assets/index.7531a290.js.gz
  assets/vendor.4910b926.js
  assets/vendor.4910b926.js.br
  assets/vendor.4910b926.js.gz
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  precache-manifest.379e1d3f8e663fba17eae71a2a8707a9.js
  robots.txt
  service-worker.js
  static/css/2.1e78366a.chunk.css
  static/css/2.1e78366a.chunk.css.map
  static/css/main.9f5d51b2.chunk.css
  static/css/main.9f5d51b2.chunk.css.map
  static/js/2.d311ad6f.chunk.js
  static/js/2.d311ad6f.chunk.js.LICENSE.txt
  static/js/2.d311ad6f.chunk.js.map
  static/js/main.52bb1da2.chunk.js
  static/js/main.52bb1da2.chunk.js.map
  static/js/runtime-main.cb5876dd.js
  static/js/runtime-main.cb5876dd.js.map
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Updates
  assets/index.7531a290.js
  assets/index.7531a290.js.br
  assets/index.7531a290.js.gz
  index.html
Due: none

Updates
  assets/chord-finder.1979d64c.js
  assets/chord-finder.1979d64c.js.br
  assets/chord-finder.1979d64c.js.gz
  assets/chord-finder.25bfce5c.js
  assets/chord-finder.25bfce5c.js.br
  assets/chord-finder.25bfce5c.js.gz
  assets/index.68a8e617.js
  assets/index.68a8e617.js.br
  assets/index.68a8e617.js.gz
  assets/index.7531a290.js
  assets/index.7531a290.js.br
  assets/index.7531a290.js.gz
  index.html
Due: none

Updates
  index.html
Due: none

Migration to Vite
  .env
  .eslintignore
  .eslintrc.js
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  README.md
  config-overrides.js
  index.html
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/app/index.css
  src/app/index.module.css
  src/app/index.tsx
  src/features/chord-finder/molecules/ChordsList/index.tsx
  src/features/chord-finder/molecules/DeviceSelection/index.tsx
  src/features/chord-finder/molecules/Notes/index.module.css
  src/features/chord-finder/molecules/Notes/index.tsx
  src/features/chord-finder/pages/chord-finder.tsx
  src/features/chord-finder/pages/index.module.css
  src/features/core/app/index.test.tsx
  src/features/core/app/index.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/react-vexflow.d.ts
  src/setupTests.ts
  src/ui/molecules/ABCjs/index.module.css
  src/ui/molecules/ABCjs/index.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Migration to feature-sliced
  package.json
  src/app/index.tsx
  src/entities/ChordsList/index.module.css
  src/entities/ChordsList/index.tsx
  src/entities/DeviceSelection/index.module.css
  src/entities/DeviceSelection/index.tsx
  src/features/chord-finder/pages/chord-finder.tsx
  src/features/core/enable-midi-provider.tsx
  src/features/midi-device-selector/index.tsx
  src/features/piano/index.module.css
  src/features/piano/index.tsx
  src/features/piano/use-calc-note-range.ts
  src/pages/chord-finder/index.module.css
  src/pages/chord-finder/index.tsx
  src/pages/index.tsx
  src/shared/api/use-detect-notes-playing.ts
  src/shared/api/use-enumerate-available-devices.ts
  src/ui/molecules/Notes/index.module.css
  src/ui/molecules/Notes/index.tsx
  src/ui/templates/MainTemplate/index.module.css
  src/ui/templates/MainTemplate/index.tsx
  stylelint.config.js
  yarn.lock
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

Updates
  assets/chord-finder.1979d64c.js
  assets/chord-finder.1979d64c.js.br
  assets/chord-finder.1979d64c.js.gz
  assets/chord-finder.c157ebbb.css
  assets/chord-finder.c157ebbb.css.br
  assets/chord-finder.c157ebbb.css.gz
  assets/index.18ec874b.css
  assets/index.1e043128.css
  assets/index.2ead7647.js
  assets/index.2ead7647.js.br
  assets/index.2ead7647.js.gz
  assets/index.68a8e617.js
  assets/index.68a8e617.js.br
  assets/index.68a8e617.js.gz
  assets/index.74605ed9.css
  assets/index.74605ed9.css.br
  assets/index.74605ed9.css.gz
  assets/index.8bbd82c9.js
  assets/index.8bbd82c9.js.br
  assets/index.8bbd82c9.js.gz
  assets/vendor.4910b926.js
  assets/vendor.4910b926.js.br
  assets/vendor.4910b926.js.gz
  assets/vendor.84a9441c.js
  assets/vendor.84a9441c.js.br
  assets/vendor.84a9441c.js.gz
  index.html
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

WIP
  src/entities/KeySelector/index.tsx
  src/pages/chord-finder/index.module.css
  src/pages/chord-finder/index.tsx
  src/ui/molecules/Notes/index.tsx
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix, stylelint --fix

WIP
  package.json
  src/app/index.tsx
  src/react-piano.d.ts
  src/react-router-dom.d.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --no-ignore --max-warnings=0 --fix

Path conditions:
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.css)) or (any of: *.{graphql,json})
  eslint --no-ignore --max-warnings=0 --fix: (any of: *.{ts,tsx}) or (any of: *.css)
  stylelint --fix: any of: *.css
